ANTHROPIC_API_KEY="y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"

BACKEND_CORE_URL=http://backend-core:8000
ROOTCAUSE_SERVICE_URL=http://root-cause-analysis:8004
NOTIFY_WEBHOOK_URL=https://hooks.slack.com/services/your/webhook/url 